# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

commitmsg.txt
*.cs~
#Torque files
buildFiles/Link/
buildFiles/VisualStudio 2010/*.sdf
buildFiles/VisualStudio 2010/*.opensdf
buildFiles/VisualStudio 2010/ipch
game/console.log
game/art/*
game/*.exe
game/*.dll
game/*.lib
game/*.ilk
game/*.exp
web/
tools/
source/VST3_SDK/*/
Link/

