# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

commitmsg.txt
*.cs~
#Torque files
game/TideProject.properties
*.dll
buildFiles/Link/
buildFiles/VisualStudio 2010/*.sdf
buildFiles/VisualStudio 2010/*.suo
buildFiles/VisualStudio 2010/*.opensdf
buildFiles/VisualStudio 2010/ipch
game/console.log
game/NiTE*
game/OpenNi*
game/org.openni.jar
game/art/*
game/*.exe
game/*.dll
game/*.lib
game/*.ilk
game/*.exp
game/*.pdb
game/scripts/client/prefs.cs
game/NiTE2/*
game/OpenNI2/*
web/
tools/
source/VST3_SDK/*/
source/NiTE2/*/
source/OpenNI2/*/
source/ASIOSDK2.3/*/
source/ASIOSDK2.3/*.pdf
source/ASIOSDK2.3/changes.txt
Link/

